/* ContactBanner.css */

.contact-banner {
    height: 255px;
    background: linear-gradient(90deg,
            #ef8d13 0%,
            #f57b20 50%,
            #ef5b3c 100%);
    position: relative;
    margin-top: 80px;
    overflow: hidden;
}

/* .contact-banner::before {
    content: "";
    position: absolute;
    width: 450px;
    height: 90px;
    background: rgba(255, 255, 255, 0.08);
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    filter: blur(2px);
} */

.banner-title {
    color: white;
    font-size: 70px;
    font-weight: bold;
    font-family: Georgia, serif;
}

.banner-text {
    color: white;
    font-size: 22px;
    margin-top: 25px;
}