/* ContactBanner.css */

/* .event-banner-main {
    height: 255px;
    background: linear-gradient(90deg,
            #ef8d13 0%,
            #f57b20 50%,
            #ef5b3c 100%);
    position: relative;
    margin-top: 80px;
    overflow: hidden;
}

.event-content-main {
    width: 100%;
} */

/* .contact-banner::before {
    content: "";
    position: absolute;
    width: 450px;
    height: 90px;
    background: rgba(255, 255, 255, 0.08);
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    filter: blur(2px);
} */
.event-banner-main {
    min-height: 290px;
    background: linear-gradient(90deg, #ef8d13 0%, #f57b20 50%, #ef5b3c 100%);
    margin-top: 80px;
    padding: 60px 20px;
    overflow: hidden;
}

.event-content-main {
    width: 100%;
}

.event-banner-main-title {
    color: #fff;
    font-size: 66px;
    font-weight: 700;
    font-family: Georgia, serif;
    margin-bottom: 15px;
}

.event-banner-main-text {
    color: #fff;
    font-size: 25px;
    margin: 0 auto;
    max-width: 850px;
    line-height: 1.5;
}

/* Responsive */
@media (max-width: 992px) {
    .event-banner-main-title {
        font-size: 50px;
    }

    .event-banner-main-text {
        font-size: 22px;
    }
}

@media (max-width: 768px) {
    .event-banner-main {
        min-height: 220px;
        margin-top: 70px;
        padding: 45px 18px;
    }

    .event-banner-main-title {
        font-size: 40px;
    }

    .event-banner-main-text {
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .event-banner-main-title {
        font-size: 34px;
    }

    .event-banner-main-text {
        font-size: 16px;
    }
}