.feature-section {
    z-index: 3;
}

.feature-icon {
    width: 80px;
    height: 80px;

    border: 2px solid #d9a21b;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;

    flex-shrink: 0;
}

.feature-icon img {
    width: 58px;
    height: 58px;
    object-fit: contain;
}

.feature-card h3 {
    color: #d9a21b;
    font-size: 15px;
    font-family: Georgia, serif;
    font-weight: 700;
    line-height: 1.3;
}

.feature-card p {
    color: white;
    font-size: 11px;
}

@media(max-width:768px) {

    .feature-section {
        width: 100% !important;
        position: relative !important;
        margin-top: 20px;
    }

    .feature-card {
        flex-direction: column;
        align-items: center !important;
        text-align: center;
    }

    .feature-card h3 {
        font-size: 22px;
    }

    .feature-card p {
        font-size: 15px;
    }

}